HappyNet-SL5/Client/Module/Soat.HappyNet.Silverlight.Modules.BackOffice/Service References/OrdersServiceReference/OrdersService62.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://techsi.soat.local/HappyNet/Services/OrdersService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.DataContract.Orders" />
  <xs:import schemaLocation="http://techsi.soat.local/HappyNet/Services/OrdersService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" />
  <xs:element name="GetOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="lang" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.DataContract.Orders" minOccurs="0" name="GetOrdersResult" nillable="true" type="q1:Orders" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderBySalesOrderId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="salesOrderId" type="xs:int" />
        <xs:element minOccurs="0" name="lang" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderBySalesOrderIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" minOccurs="0" name="GetOrderBySalesOrderIdResult" nillable="true" type="q2:SalesOrderHeader" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>