HappyNet-SL5/Client/Module/Soat.HappyNet.Silverlight.Modules.BackOffice/Service References/OrdersServiceReference/OrdersService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.DataContract.Orders" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.DataContract.Orders" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://techsi.soat.local/HappyNet/Services/OrdersService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" />
  <xs:complexType name="Orders">
    <xs:sequence>
      <xs:element minOccurs="0" name="PageNumber" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" minOccurs="0" name="Result" nillable="true" type="q1:ArrayOfSalesOrderHeader" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Orders" nillable="true" type="tns:Orders" />
</xs:schema>