HappyNet-SL5/Client/Module/Soat.HappyNet.Silverlight.Modules.BackOffice/Service References/OrdersServiceReference/OrdersService64.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://techsi.soat.local/HappyNet/Services/OrdersService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
  <xs:import schemaLocation="http://techsi.soat.local/HappyNet/Services/OrdersService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="EntityObject">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StructuralObject">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="EntityKey" nillable="true" type="q1:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityObject" nillable="true" type="tns:EntityObject" />
  <xs:complexType name="StructuralObject">
    <xs:sequence />
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="StructuralObject" nillable="true" type="tns:StructuralObject" />
  <xs:complexType name="EntityReferenceOfAddressvFWqYFi_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Address" Namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfAddressvFWqYFi_P" nillable="true" type="tns:EntityReferenceOfAddressvFWqYFi_P" />
  <xs:complexType name="EntityReference">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RelatedEnd">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="EntityKey" nillable="true" type="q2:EntityKey" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReference" nillable="true" type="tns:EntityReference" />
  <xs:complexType name="RelatedEnd">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="RelatedEnd" nillable="true" type="tns:RelatedEnd" />
  <xs:complexType name="EntityReferenceOfAddressTypevFWqYFi_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AddressType" Namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfAddressTypevFWqYFi_P" nillable="true" type="tns:EntityReferenceOfAddressTypevFWqYFi_P" />
  <xs:complexType name="EntityReferenceOfBusinessEntityvFWqYFi_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="BusinessEntity" Namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfBusinessEntityvFWqYFi_P" nillable="true" type="tns:EntityReferenceOfBusinessEntityvFWqYFi_P" />
  <xs:complexType name="EntityReferenceOfContactTypevFWqYFi_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ContactType" Namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfContactTypevFWqYFi_P" nillable="true" type="tns:EntityReferenceOfContactTypevFWqYFi_P" />
  <xs:complexType name="EntityReferenceOfPersonvFWqYFi_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Person" Namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfPersonvFWqYFi_P" nillable="true" type="tns:EntityReferenceOfPersonvFWqYFi_P" />
  <xs:complexType name="EntityReferenceOfCountryRegionvFWqYFi_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CountryRegion" Namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfCountryRegionvFWqYFi_P" nillable="true" type="tns:EntityReferenceOfCountryRegionvFWqYFi_P" />
  <xs:complexType name="EntityReferenceOfCurrencyvFWqYFi_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Currency" Namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfCurrencyvFWqYFi_P" nillable="true" type="tns:EntityReferenceOfCurrencyvFWqYFi_P" />
  <xs:complexType name="EntityReferenceOfStateProvincevFWqYFi_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="StateProvince" Namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfStateProvincevFWqYFi_P" nillable="true" type="tns:EntityReferenceOfStateProvincevFWqYFi_P" />
  <xs:complexType name="EntityReferenceOfSalesTerritoryvFWqYFi_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SalesTerritory" Namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfSalesTerritoryvFWqYFi_P" nillable="true" type="tns:EntityReferenceOfSalesTerritoryvFWqYFi_P" />
  <xs:complexType name="EntityReferenceOfDepartmentvFWqYFi_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Department" Namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfDepartmentvFWqYFi_P" nillable="true" type="tns:EntityReferenceOfDepartmentvFWqYFi_P" />
  <xs:complexType name="EntityReferenceOfEmployeevFWqYFi_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Employee" Namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfEmployeevFWqYFi_P" nillable="true" type="tns:EntityReferenceOfEmployeevFWqYFi_P" />
  <xs:complexType name="EntityReferenceOfShiftvFWqYFi_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Shift" Namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfShiftvFWqYFi_P" nillable="true" type="tns:EntityReferenceOfShiftvFWqYFi_P" />
  <xs:complexType name="EntityReferenceOfProductvFWqYFi_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Product" Namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfProductvFWqYFi_P" nillable="true" type="tns:EntityReferenceOfProductvFWqYFi_P" />
  <xs:complexType name="EntityReferenceOfUnitMeasurevFWqYFi_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="UnitMeasure" Namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfUnitMeasurevFWqYFi_P" nillable="true" type="tns:EntityReferenceOfUnitMeasurevFWqYFi_P" />
  <xs:complexType name="EntityReferenceOfVendorvFWqYFi_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Vendor" Namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfVendorvFWqYFi_P" nillable="true" type="tns:EntityReferenceOfVendorvFWqYFi_P" />
  <xs:complexType name="EntityReferenceOfProductDocumentvFWqYFi_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ProductDocument" Namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfProductDocumentvFWqYFi_P" nillable="true" type="tns:EntityReferenceOfProductDocumentvFWqYFi_P" />
  <xs:complexType name="EntityReferenceOfLocationvFWqYFi_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Location" Namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfLocationvFWqYFi_P" nillable="true" type="tns:EntityReferenceOfLocationvFWqYFi_P" />
  <xs:complexType name="EntityReferenceOfScrapReasonvFWqYFi_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ScrapReason" Namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfScrapReasonvFWqYFi_P" nillable="true" type="tns:EntityReferenceOfScrapReasonvFWqYFi_P" />
  <xs:complexType name="EntityReferenceOfWorkOrdervFWqYFi_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="WorkOrder" Namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfWorkOrdervFWqYFi_P" nillable="true" type="tns:EntityReferenceOfWorkOrdervFWqYFi_P" />
  <xs:complexType name="EntityReferenceOfCulturevFWqYFi_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Culture" Namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfCulturevFWqYFi_P" nillable="true" type="tns:EntityReferenceOfCulturevFWqYFi_P" />
  <xs:complexType name="EntityReferenceOfProductDescriptionvFWqYFi_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ProductDescription" Namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfProductDescriptionvFWqYFi_P" nillable="true" type="tns:EntityReferenceOfProductDescriptionvFWqYFi_P" />
  <xs:complexType name="EntityReferenceOfProductModelvFWqYFi_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ProductModel" Namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfProductModelvFWqYFi_P" nillable="true" type="tns:EntityReferenceOfProductModelvFWqYFi_P" />
  <xs:complexType name="EntityReferenceOfIllustrationvFWqYFi_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Illustration" Namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfIllustrationvFWqYFi_P" nillable="true" type="tns:EntityReferenceOfIllustrationvFWqYFi_P" />
  <xs:complexType name="EntityReferenceOfProductPhotovFWqYFi_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ProductPhoto" Namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfProductPhotovFWqYFi_P" nillable="true" type="tns:EntityReferenceOfProductPhotovFWqYFi_P" />
  <xs:complexType name="EntityReferenceOfProductCategoryvFWqYFi_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ProductCategory" Namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfProductCategoryvFWqYFi_P" nillable="true" type="tns:EntityReferenceOfProductCategoryvFWqYFi_P" />
  <xs:complexType name="EntityReferenceOfProductSubcategoryvFWqYFi_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ProductSubcategory" Namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfProductSubcategoryvFWqYFi_P" nillable="true" type="tns:EntityReferenceOfProductSubcategoryvFWqYFi_P" />
  <xs:complexType name="EntityReferenceOfSalesOrderHeadervFWqYFi_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SalesOrderHeader" Namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfSalesOrderHeadervFWqYFi_P" nillable="true" type="tns:EntityReferenceOfSalesOrderHeadervFWqYFi_P" />
  <xs:complexType name="EntityReferenceOfSpecialOfferProductvFWqYFi_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SpecialOfferProduct" Namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfSpecialOfferProductvFWqYFi_P" nillable="true" type="tns:EntityReferenceOfSpecialOfferProductvFWqYFi_P" />
  <xs:complexType name="EntityReferenceOfSpecialOffervFWqYFi_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SpecialOffer" Namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfSpecialOffervFWqYFi_P" nillable="true" type="tns:EntityReferenceOfSpecialOffervFWqYFi_P" />
  <xs:complexType name="EntityReferenceOfPurchaseOrderHeadervFWqYFi_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PurchaseOrderHeader" Namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfPurchaseOrderHeadervFWqYFi_P" nillable="true" type="tns:EntityReferenceOfPurchaseOrderHeadervFWqYFi_P" />
  <xs:complexType name="EntityReferenceOfShipMethodvFWqYFi_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ShipMethod" Namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfShipMethodvFWqYFi_P" nillable="true" type="tns:EntityReferenceOfShipMethodvFWqYFi_P" />
  <xs:complexType name="EntityReferenceOfSalesPersonvFWqYFi_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SalesPerson" Namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfSalesPersonvFWqYFi_P" nillable="true" type="tns:EntityReferenceOfSalesPersonvFWqYFi_P" />
  <xs:complexType name="EntityReferenceOfStorevFWqYFi_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Store" Namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfStorevFWqYFi_P" nillable="true" type="tns:EntityReferenceOfStorevFWqYFi_P" />
  <xs:complexType name="EntityReferenceOfPasswordvFWqYFi_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Password" Namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfPasswordvFWqYFi_P" nillable="true" type="tns:EntityReferenceOfPasswordvFWqYFi_P" />
  <xs:complexType name="EntityReferenceOfCreditCardvFWqYFi_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CreditCard" Namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfCreditCardvFWqYFi_P" nillable="true" type="tns:EntityReferenceOfCreditCardvFWqYFi_P" />
  <xs:complexType name="EntityReferenceOfPhoneNumberTypevFWqYFi_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PhoneNumberType" Namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfPhoneNumberTypevFWqYFi_P" nillable="true" type="tns:EntityReferenceOfPhoneNumberTypevFWqYFi_P" />
  <xs:complexType name="EntityReferenceOfCurrencyRatevFWqYFi_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CurrencyRate" Namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfCurrencyRatevFWqYFi_P" nillable="true" type="tns:EntityReferenceOfCurrencyRatevFWqYFi_P" />
  <xs:complexType name="EntityReferenceOfCustomervFWqYFi_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Customer" Namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfCustomervFWqYFi_P" nillable="true" type="tns:EntityReferenceOfCustomervFWqYFi_P" />
  <xs:complexType name="EntityReferenceOfSalesReasonvFWqYFi_P">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="EntityReferenceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="SalesReason" Namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntityReference">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntityReferenceOfSalesReasonvFWqYFi_P" nillable="true" type="tns:EntityReferenceOfSalesReasonvFWqYFi_P" />
</xs:schema>