HappyNet-SL5/Client/Module/Soat.HappyNet.Silverlight.Modules.Production/Service References/ProductionServiceReference/ProductionService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://techsi.soat.local/HappyNet/Services/ProductionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" />
  <xs:import schemaLocation="http://techsi.soat.local/HappyNet/Services/ProductionService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lang" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" minOccurs="0" name="GetProductsResult" nillable="true" type="q1:ArrayOfProductModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="subCategoryIDs" nillable="true" type="q2:ArrayOfint" />
        <xs:element minOccurs="0" name="lang" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" minOccurs="0" name="GetProductsByCategoryResult" nillable="true" type="q3:ArrayOfProductModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductPrimaryPhoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductPrimaryPhotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" minOccurs="0" name="GetProductPrimaryPhotoResult" nillable="true" type="q4:ProductPhoto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductPhotos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductPhotosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" minOccurs="0" name="GetProductPhotosResult" nillable="true" type="q5:ArrayOfProductPhoto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductModelPhoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productModelID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductModelPhotoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" minOccurs="0" name="GetProductModelPhotoResult" nillable="true" type="q6:ProductPhoto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" minOccurs="0" name="GetProductCategoriesResult" nillable="true" type="q7:ArrayOfProductCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductModelDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productModelID" type="xs:int" />
        <xs:element minOccurs="0" name="lang" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="countryCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductModelDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Soat.HappyNet.Server.Entities" minOccurs="0" name="GetProductModelDetailsResult" nillable="true" type="q8:ProductModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>